@page "/asset-list"
@using TuDa.CIMS.Web.Components.Dashboard

<div class="container-fluid ">
    <div class="row mt-5">
        <AssetList AddButtonPressed="ShowAndHandleCreateDialog"
                   EditButtonPressed="ShowAndHandleEditDialog"
                   @ref="_assetList"/>
    </div>
</div>

