@page "/"

<div class="container-fluid ">
    <div class="row mt-5">
        <div class="col-md-2 justify-content-start">
            <Filter/>
        </div>
        <div class="col-md-10 ps-5">
            <div>
                <div class="mb-2">
                    <AssetSearch/>
                </div>
                <PlaceHolderAssetList/>
            </div>
        </div>
    </div>
</div>
