@page "/"

<div class="container-fluid ">
    <div class="row mt-5">
        <div class="col-md-2 justify-content-start">
            <Filter/>
        </div>
        <div class="col-md-10 ps-5">
            <div class=row>
                <div class="col-md-10 d-flex mb-2">
                    <AssetSearch/>
                    <AssetItemDialog/>
                </div>
            </div>
            <AssetList/>
        </div>
    </div>
</div>
