<!-- TODO: Use the real AssetList -->
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">CAS</th>
            <th scope="col">Name</th>
            <th scope="col">Raum</th>
            <th scope="col">Typ</th>
            <th scope="col">Gefahren</th>
            <th scope="col">Preis</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">37483</th>
            <td>Erlenmeyerkolben</td>
            <td>Haupt</td>
            <td>Gerät</td>
            <td>Keine</td>
            <td>3,50€</td>
        </tr>
        <tr>
            <th scope="row">37483</th>
            <td>Erlenmeyerkolben</td>
            <td>Haupt</td>
            <td>Gerät</td>
            <td>Keine</td>
            <td>3,50€</td>
        </tr>
        <tr>
            <th scope="row">37483</th>
            <td>Erlenmeyerkolben</td>
            <td>Haupt</td>
            <td>Gerät</td>
            <td>Keine</td>
            <td>3,50€</td>
        </tr>
        <tr>
            <th scope="row">37483</th>
            <td>Erlenmeyerkolben</td>
            <td>Haupt</td>
            <td>Gerät</td>
            <td>Keine</td>
            <td>3,50€</td>
        </tr>
        <tr>
            <th scope="row">37483</th>
            <td>Erlenmeyerkolben</td>
            <td>Haupt</td>
            <td>Gerät</td>
            <td>Keine</td>
            <td>3,50€</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="..."
         class="mt-5 d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item disabled">
                <button class="page-link">Previous</button>
            </li>
            <li aria-current="page"
                class="page-item active">
                <button class="page-link">1</button>
            </li>
            <li class="page-item">
                <button class="page-link">
                    2
                </button>
            </li>
            <li class="page-item">
                <button class="page-link">
                    3
                </button>
            </li>
            <li class="page-item">
                <button class="page-link">
                    Next
                </button>
            </li>
        </ul>
    </nav>
</div>
