@inherits ComponentBase

@* Generic AssetItemForm *@

        <label class="form-label"
               for="name">
            Name
        </label>
        <input @bind="@Name"
               class="form-control"
               id="name"
               placeholder="Enter Name"
               type="text"/>

        <label class="form-label"
               for="shop">
            Shop
        </label>
        <input @bind="@Shop"
               class="form-control"
               id="shop"
               placeholder="Enter Shop"
               type="text"/>

        <label class="form-label"
               for="itemNumber">
            Item Number
        </label>
        <input @bind="@ItemNumber"
               class="form-control"
               id="itemNumber"
               placeholder="Enter Item Number"
               type="text"/>

        <label class="form-label"
               for="notes">
            Notes
        </label>
        <input @bind="@Notes"
               class="form-control"
               id="notes"
               placeholder="Enter Notes"
               type="text"/>


@code {

    // General Properties of the Items
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string Shop { get; set; } = "";
    [Parameter] public string ItemNumber { get; set; } = "";
    [Parameter] public string Notes { get; set; } = "";
}
