@using TuDa.CIMS.Shared.Entities

@* AssetItemCreateForm *@

<!-- Modal Body -->
<div class="modal-body">
    <div aria-label="Button group"
         class="btn-group"
         role="group">
        <button class="btn btn-primary"
                @onclick="SwitchToChemical">
            Chemical
        </button>
        <button class="btn btn-primary"
                @onclick="SwitchToConsumable">
            Consumable
        </button>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <AssetItemForm/>
        </div>

        <!-- Which Form to Choose -->
        <div class="col-md-6 mb-3">
            @if (CreatedAssetItem is Chemical)
            {
                <ChemicalItemForm/>
            }
            else if (CreatedAssetItem is Consumable)
            {
                <ConsumableItemForm/>
            }
        </div>
    </div>
</div>

@code {

    //for Extraction
    protected static AssetItem? CreatedAssetItem = new Chemical()
    {
        Name = "",
        Shop = "",
        ItemNumber = "",
        Note = "",
        Id = Guid.NewGuid(),
        Room = new Room() { Name = "", Id = Guid.NewGuid() },
        Hazards = new List<Hazard>(),
        Cas = "",
        Unit = ""
    };

    //Switch to Chemical Asset Item
    private static void SwitchToChemical()
    {
        CreatedAssetItem = new Chemical()
        {
            Name = CreatedAssetItem.Name,
            Shop = CreatedAssetItem.Shop,
            ItemNumber = CreatedAssetItem.ItemNumber,
            Note = CreatedAssetItem.Note,
            Id = CreatedAssetItem.Id,
            Room = new Room() { Name = CreatedAssetItem.Room.Name, Id = CreatedAssetItem.Room.Id },
            Hazards = new List<Hazard>(),
            Cas = "",
            Unit = ""
        };
    }

    //Switch to Consumable Asset Item
    private static void SwitchToConsumable()
    {
        CreatedAssetItem = new Consumable()
        {
            Name = CreatedAssetItem.Name,
            Shop = CreatedAssetItem.Shop,
            ItemNumber = CreatedAssetItem.ItemNumber,
            Note = CreatedAssetItem.Note,
            Id = CreatedAssetItem.Id,
            Room = new Room() { Name = CreatedAssetItem.Room.Name, Id = CreatedAssetItem.Room.Id },
            Manufacturer = "",
            SerialNumber = ""
        };
    }

}
