@* Search bar for assets *@
<div class="position-relative"
     style="max-width: 600px;">
    <input class="form-control rounded-pill"
           placeholder="Suche">

    <!-- Search button -->
    <button type="button"
            class="position-absolute end-0 top-50 translate-middle-y me-2 btn p-0 border-0 bg-transparent">

        <!-- Search icon -->
        <span class="bi bi-search position-absolute top-50 end-0 translate-middle-y text-secondary"> </span>
    </button>
</div>
