@inherits AssetItemCreateForm

@* Generic AssetItemForm *@

<label class="form-label"
       for="name">
    Name
</label>
<input @bind-value="@Name"
       class="form-control"
       id="name"
       placeholder="Enter Name"
       type="text"/>

<label class="form-label"
       for="shop">
    Shop
</label>
<input @bind-value="@Shop"
       class="form-control"
       id="shop"
       placeholder="Enter Shop"
       type="text"/>

<label class="form-label"
       for="itemNumber">
    Item Number
</label>
<input @bind-value="@ItemNumber"
       class="form-control"
       id="itemNumber"
       placeholder="Enter Item Number"
       type="text"/>

<label class="form-label"
       for="notes">
    Notes
</label>
<input @bind-value="@Note"
       class="form-control"
       id="notes"
       placeholder="Enter Notes"
       type="text"/>


<button class="btn btn-primary"
        @onclick="ResetInputs">
    Clear
</button>

@code
{
    /// <summary>
    /// Resets the Input lines of the left Column
    /// </summary>
    private void ResetInputs()
    {
        Name = string.Empty;
        Shop = string.Empty;
        ItemNumber = string.Empty;
        Note = string.Empty;

    }
}
