@using TuDa.CIMS.Shared.Entities
@inherits AssetItemForm

@* Consumable Item Form *@

<div class="mt-3">

    <label class="form-label"
           for="consumableManufacturer">
        Manufacturer
    </label>
    <input @bind="@ConsumableAsset.Manufacturer"
           class="form-control"
           id="consumableManufacturer"
           placeholder="Enter Manufacturer"
           type="text"/>

    <label class="form-label"
           for="consumableSerialNumber">
        Serial Number
    </label>
    <input @bind="@ConsumableAsset.SerialNumber"
           class="form-control"
           id="consumableSerialNumber"
           placeholder="Enter Serial Number"
           type="text"/>

    <label class="form-label"
           for="consumableQuantity">
        Quantity
    </label>
    <input @bind="@Quantity"
           class="form-control"
           id="consumableQuantity"
           placeholder="Enter Quantity"
           type="number"/>
</div>

@code {

    //Quantity of Consumable
    [Parameter] public static int Quantity { get; set; }

    private Consumable? ConsumableAsset => CreatedAssetItem as Consumable;
}
