<!-- TODO: Use the real AssetList -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">CAS</th>
        <th scope="col">Name</th>
        <th scope="col">Raum</th>
        <th scope="col">Typ</th>
        <th scope="col">Gefahren</th>
        <th scope="col">Preis</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">37483</th>
        <td>Erlenmeyerkolben</td>
        <td>Haupt</td>
        <td>Gerät</td>
        <td>Keine</td>
        <td>3,50€</td>
    </tr>
    <tr>
        <th scope="row">37483</th>
        <td>Erlenmeyerkolben</td>
        <td>Haupt</td>
        <td>Gerät</td>
        <td>Keine</td>
        <td>3,50€</td>
    </tr>
    <tr>
        <th scope="row">37483</th>
        <td>Erlenmeyerkolben</td>
        <td>Haupt</td>
        <td>Gerät</td>
        <td>Keine</td>
        <td>3,50€</td>
    </tr>
    <tr>
        <th scope="row">37483</th>
        <td>Erlenmeyerkolben</td>
        <td>Haupt</td>
        <td>Gerät</td>
        <td>Keine</td>
        <td>3,50€</td>
    </tr>
    <tr>
        <th scope="row">37483</th>
        <td>Erlenmeyerkolben</td>
        <td>Haupt</td>
        <td>Gerät</td>
        <td>Keine</td>
        <td>3,50€</td>
    </tr>
    </tbody>
</table>
